[unit_type]

    name= _ "Dolmen"
    id=1224
    [base_unit]
        id=412
    [/base_unit]
    hide_help=no
    do_not_list=no

    # Description = Transportzug

    image=units/mk4/train/mk4t_dolmen.png
    [variation]
        {TRANS_TRAIN}
        {GROUND_LEVEL_ANIM units/mk4/train/mk4t_dolmen.png}
    [/variation]

    # wreckageobject = 14224

    hitpoints=390
    add_to_movement=+30
 
    # Features += ExternalFuelTransfer ExternalMaterialTransfer ExternalAmmoTransfer

    # Produktionskosten
    # Energie: 	6820
    # Material: 5470
    # Fuel: 	0 

    # Tank
    # Energy = 0
    # Material = 40000
    fuel_tank=40000
    fuel_consumption=21

    # Weapons
    # Initiative = 0
    # Number = 9
    {AMMO_CM} # Weapon0 ->* VehicleType.AmmoCM 
    [+attack]
        ammo=6        
    [/attack]

    # Weapon1 ->* VehicleType.ServiceGround 
    
    {AMMO_BOMB} # Weapon2 ->* VehicleType.AmmoBomb 
    [+attack]
        ammo=50        
    [/attack]

    {AMMO_LM} # Weapon3 ->* VehicleType.AmmoLM 
    [+attack]
        ammo=50        
    [/attack]

    {AMMO_SM} # Weapon4 ->* VehicleType.AmmoSM 
    [+attack]
        ammo=50        
    [/attack]

    {AMMO_TORP} # Weapon5 ->* VehicleType.AmmoTorp 
    [+attack]
        ammo=30        
    [/attack]

    {AMMO_MG} # Weapon6 ->* VehicleType.AmmoMG 
    [+attack]
        ammo=100        
    [/attack]

    {AMMO_CANNON} # Weapon7 ->* VehicleType.AmmoCannon 
    [+attack]
        ammo=80        
    [/attack]

    {AMMO_MINE} # Weapon8 ->* VehicleType.AmmoMine 
    [+attack]
        ammo=10
    [/attack]

[/unit_type]

# Infotext = [Der Dolmen ist das wohl strategisch wichtigste Schienenfahrzeug der Cromoner. Er ist auf vielerlei Weise nützlich. So vereint er die größte Ladekapazität aller Landeinheiten mit der höchsten durch Transportfahrzeuge zu erreichenden Geschwindigkeit. Dabei ist durch seinen großen Laderaum auch der Transport anderer Transporteinheiten möglich, welche wieder andere Einheiten geladen haben. So können mit einem Zug komplette Kampfverbände verlegt werden. Dies ist besonders wichtig, wenn Transportschiffe zu beladen sind. Sogar leichte Flugzeuge können mit dem Dolmen befördert werden. Zusätzlich zu den Einheiten kann er auch riesige Mengen Material, Treibstoff und Munition transportieren und dient so als Nachschublager hinter der Front. Die Panzerung ist allerdings bestenfalls als durchschnittlich zu bezeichnen und eine Bewaffnung fehlt völlig. Der kluge Kommandeur sollte allerdings feindliche Einheiten nicht einmal in die Nähe seiner Transportzüge lassen, so daß dies nicht ins Gewicht fallen sollte. Durch die Möglichkeit, überfallartig weit vorzustoßen und große Truppenteile kampfbereit ausschwärmen zu lassen sind Dolmen als sehr gefährlich eingestuft und stehen deshalb ganz oben auf der Abschußliste erfahrener Kommandeure. ]
