#define RED_IS_THE_TEAM_COLOR
    # A macro to define a common set of magenta color values which different
    # units can be color shifted by using the team color system.
    flag_rgb=cs_red
#enddef

 
