#textdomain wesnoth-help
# Weapon special macros to be included in the SingleWML description of a unit.

#define WAIT_FOR_ATTACK
    [disable]

        name= _ "Wait for Attack"
        #name_inactive= _ ""
        
        description= _ "Weapon not usable after movement."
        #description_inactive= _ "sowas" 
        
        id=wait_for_attack
        
        # active_on=defense|offense # if left out, the special is active on both.
        
        apply_to=self
        
        [filter_self]
            [not]
                [filter_wml]
                    moves=$this_unit.max_moves
                [/filter_wml]
            [/not]
        [/filter_self]
        
    [/disable]
#enddef

#define TARGETS HEIGHT_LEVELS
    [disable]
        
        name= _ "Invalid height"
        name_inactive= _ ""
        
        description= _ "Well, the target can't be reached."
        # description_inactive= _ "Well, the target can be reached."
        
        id=targets
        
        # active_on=defense|offense # if left out, the special is active on both.
        
        apply_to=self # self is the default
        
        [filter_opponent]
            [not]
                variation={HEIGHT_LEVELS}
            [/not]
        [/filter_opponent]
        
    [/disable]
#enddef
 
#define SHOT_FROM HEIGHT_LEVELS
    # [disable]
        
    #     name= _ "Weapon inactive."
    #     name_inactive= _ "Weapon active"
        
    #     description= _ ""
    #     description_inactive= _ ""
        
    #     id=shot_from
        
    #     # active_on=defense|offense # if left out, the special is active on both.
        
    #     apply_to=self # self is the default
        
    #     [filter_self]
    #         [not]
    #             variation={HEIGHT_LEVELS}
    #         [/not]
    #     [/filter_self]
        
    #     # value=0
        
    # [/disable]
#enddef
