# [vehicletype]
#    name="Firebird"
#    parent="380"
#    id="1282"

#    description="Kampfhubschrauber"
#    picture="mk4h_firebird.png"
#    wreckageobject="1282 14882"
#    add_to_guidesorthelp="0 0 0 0 4 0 0 0 0 0"
#    infotext="Der Firebird ist der Urvater aller cromonischen Helikopter. Er ist mit Maschinenkanonen und leichten Raketen zur Bekï¿½mpfung von Bodenzielen ausgerï¿½stet. Damals war diese Bewaffnung noch ausreichend, um effektive Angriffe zu fliegen. Durch die stï¿½ndige Weiterentwicklung der Waffentechnik ist sein Einsatz jedoch mit immer grï¿½ï¿½eren Risiken verbunden, da er dabei leicht ein Opfer der gegnerischen Luftabwehr wird. Hierbei ist auch die schwache Panzerung von Nachteil, was durch seine relativ hohe Geschwindigkeit nicht wettgemacht wird. Signifikante Verbesserungen lieï¿½ die Konstruktion des Chassis nicht zu, so daï¿½ seine Einsatzmï¿½glichkeiten immer geringer wurden. Lediglich seine gï¿½nstigen Baukosten machen ihn fï¿½r Einsï¿½tze gegen schlecht bewaffnete Gegener interessant. Hierbei mï¿½ssen aber trotzdem Verluste in Kauf genommen werden."

#    movementsound="heli_h_s.ogg"
#    jamming="21"
  
#    [weapons]
#       weapon0_weaponeffectiveness_default="175"
#       weapon0_weaponeffectiveness_trooper="175"
   
#       weapon1_weaponeffectiveness_light_wheeled_vehicle="160"
#       weapon1_weaponeffectiveness_light_tracked="140"
#       weapon1_weaponeffectiveness_light_ship="140"
#    [/weapons]
# [/vehicletype]
