[unit_type]
    
    name= _ "Rocky"
    id=1295
    [base_unit]
        id=315
    [/base_unit]
    hide_help=no
    do_not_list=no


    description= _ "Geschützkuppel"

    weight=490
    # wreckageobject = 14295

    # Features += onlyTransMove
    [+abilities]
        # ManualSelfDestruct 
        {FEATURE_SELF_DESTRUCT}
    [/abilities]

    image=units/mk4/stationary/mk4b_rocky.png
    [variation]
        {GROUND_LEVEL_ANIM units/mk4/stationary/mk4b_rocky.png}
        movement=18
    [/variation]

    {TURRET_ALL} # Terrainaccess ->* VehicleType.Turret_all

    # Number=3
    [attack]
    [/attack]
    [attack]
    [/attack]
    {FLAME_THROWER} # Weapon2 ->* VehicleType.Flame_Thrower

[/unit_type]

# Infotext = [Diese Geschützkuppel dient dazu eigene Stellungen zu festigen und einen Angriff des Gegners zu erschweren bis eigene Verstärkung herangezogen werden kann. Sie ist so konstruiert, dass ein Eindringen des Feindes möglichst erschwert, aber die Verteidigung einfach ist. Der um 360° frei drehbare Geschützaufbau ist mit einer extrem harter Pilzhaube versehen, sodass senkrecht fallende Bomben an diesem abgleiten und so die Trefferwirkung verringert wird. Allerdings sind diese Bunkeranlagen gegenüber Hoehenbomber aufgrund Ihrer preiswerten Kanonen-Bewaffnung wehrlos. ]
    
