[unit_type]

    name= _ "Shipyard North"
    id=16
    [base_unit]
        id=499
    [/base_unit]
    hide_help=no
    do_not_list=no

    hitpoints=2500

    {BUILDING_ANIM units/buildings/asc/bld_asc_port_n.png}

    # ConstructionStages = 1
    # Weather = dry
    # Fields = A1 A3 A4 B1 B3 
    # UseGFXpics = false
    # Pictures { 
    # dry = bld_ASC_port.png
    # } Pictures
    # RubbleObjects = false
    # Entry = A4

    [cargo_bay]
        # Transportation
        slots=6 # MaxLoadableUnits = 6
        max_weight=20000 # MaxLoadableUnitSize = 20000
        max_total_weight=40000 # MaxLoadableMass = 40000
        disable_attack=false # DisableAttack = false
        [entrance]
            [filter_cargo]
                [not] # CategoriesNOT =  
                    race=dummy
                [/not]
            [/filter_cargo]
        [/entrance]
    [/cargo_bay]

    # Functions = Vehicle_Production Ammo_Production Repair_Facility External_Loading recycling
    # CategoriesProduceable = light_ship medium_ship heavy_ship hoovercraft default

    # TerrainAccess
    # terrain_any = Shallow_water Water Very_shallow_water river lowland hard_sand
    # terrain_all = 
    # terrain_not = 
    # terrain_kill = lava deep_water

    # ConstructionCost
    # Energy = 0
    # Material = 12000
    # fuel = 9000

    # ExternalLoading = floating ground_level 

[/unit_type]

# Infotext = [Fertigungsanlage für Schiffe, incl. Munition, Reparatur und Wiederverwertung.]
