[unit_type]

    name= _ "Depot"
    id=2
    [base_unit]
        id=499
    [/base_unit]
    hide_help=no
    do_not_list=no

    hitpoints=700
    image=units/buildings/asc/bld_asc_depot.png
    {BUILDING_ANIM units/buildings/asc/bld_asc_depot.png}

    # ConstructionStages = 1
    # Weather = dry few_snow much_snow snow_and_ice
    # Fields = A2 A4 B3 
    # seGFXpics = false
    # Pictures { 
    #    dry = bld_ASC_depot.png
    #    few_snow = bld_asc_depot_fs.png
    #    much_snow = bld_asc_depot_hs.png
    #    snow_and_ice = bld_asc_depot_hs.png
    #    RubbleObjects = false
    # ;   RubbleObjects = true
    # ;   rubble {
    # ;      A2 = 76
    # ;      A4 = 77
    # ;      B3 = 78

    # Entry = B3
    [cargo_bay] # Transportation
        slots=20 # MaxLoadableUnits = 20
        max_weight=1500 # MaxLoadableUnitSize = 1500
        max_total_weight=3000 # MaxLoadableMass = 3000
        # CategoriesNOT = Medium_aircraft Heavy_aircraft Medium_ship Heavy_Ship
        # EntranceSystemNum = 1
    [/cargo_bay]

    # Functions = Repair_Facility external_loading ammo_production recycling

    # ConstructionCost
    # Energy = 0
    # Material = 5500
    # fuel = 3000
    cost=5500

    # StorageCapacity
    # ASCmode
    # Energy = 0
    # Material = 30000
    # fuel = 30000
    fuel_tank=30000

    # ExternalLoading = ground_level floating

[/unit_type]

# Infotext = [Depot - Speichert Material, Fuel und Munition, repariert Fahrzeuge und effizientes recycling möglich.]
