[unit_type]

    name= _ "Oilplatform"
    id=13
    [base_unit]
        id=499
    [/base_unit]
    [base_unit]
        id=498
    [/base_unit]
    hide_help=no
    do_not_list=no

    hitpoints=1500
    vision=40

    image=units/buildings/asc/bld_asc_oilplatform.png

    #    ConstructionStages = 1
    #    Weather = dry
    #    Fields = A1 
    #    UseGFXpics = false
    #    Pictures { 
    #       dry = bld_asc_oilplatform.png
    #    } Pictures
    #    RubbleObjects = false

    #    Entry = A1
    #    Transportation ->* BuildingType.helideck 

    #    Functions = Mining_Station 

    #    TerrainAccess { 
    #       terrain_any = Shallow_water Water Very_shallow_water
    #       terrain_all = 
    #       terrain_not = 
    #       terrain_kill = lava deep_water

    #    ConstructionCost { 
    #       Energy = 0
    #       Material = 8000
    #       fuel = 8000
    cost=8000

    #    MaxResourceProduction { 
    #       Energy = -400
    #       Material = 0
    #       fuel = 3000
    #    defaultProduction {
    #       energy = -400
    #       material = 0
    #       fuel = 3000

    #    ResourceExtractionEfficiency {
    #       Fuel = 2000

    #    StorageCapacity { 
    #       ASCmode { 
    #          fuel = 4000
    fuel_tank=4000

[/unit_type]

# Infotext = [ Oelforderplattform für Gewaesser in Kuestennähe. ]
