[unit_type]
    
    name= _ "Airport South"
    id=10
    [base_unit]
        id=499
    [/base_unit]
    hide_help=no
    do_not_list=no

    hitpoints=2000

    image=units/buildings/asc/bld_asc_airport_s.png

    # ConstructionStages = 1
    # Weather = dry 
    # Fields = A2 A3 A4 B3 
    # UseGFXpics = false
    # Pictures
    # dry = bld_ASC_airport.png
    # few_snow = bld_asc_airport.png
    # much_snow = bld_asc_airport.png
    # snow_and_ice = bld_asc_airport.png

    # RubbleObjects = false

    [cargo_bay] # Transportation
        # Entry = A4
        slots=6 # MaxLoadableUnits = 6
        max_weight=2000 # MaxLoadableUnitSize = 2000
        max_total_weight=1000000 # MaxLoadableMass = 1000000
        [entrance]
            [filter_cargo]
                # CategoriesNOT = hoovercraft Medium_tracked_vehicle Heavy_tracked_vehicle light_wheeled_vehicle Medium_wheeled_vehicle Heavy_wheeled_vehicle Light_ship Medium_ship Heavy_Ship Rail_vehicle building|turret|object
                [not]
                    race=hoovercraft,medium_tracked_vehicle,heavy_tracked_vehicle,light_wheeled_vehicle,medium_wheeled_vehicle,heavy_wheeled_vehicle,light_ship,medium_ship,heavy_ship,rail_vehicle,building,turret,object
                [/not]
            [/filter_cargo]
        [/entrance]
    [/cargo_bay]

    #    Functions = Vehicle_Production Ammo_Production Repair_Facility Recycling
    #    CategoriesProduceable = default light_Aircraft medium_Aircraft heavy_aircraft helicopter
    [abilities]
        {FEATURE_VEHICLE_PRODUCTION default,light_aircraft,medium_aircraft,heavy_aircraft,helicopter}
        {FEATURE_AMMO_PRODUCTION}
        {FEATURE_REPAIR_FACILITY}
        {FEATURE_RECYCLING}
    [/abilities]

    # ConstructionCost
    # Energy = 0
    # Material = 9000
    # fuel = 9000
    cost=9000

    # ExternalLoading =  

    # Height = ground_level 
    {GROUND_LEVEL 0}
    variation=ground_level

[/unit_type]

# Infotext = [Produktionsanlage für Flugzeuge incl. Munitionsproduktion, Reparatur und Wiederverwertung.]
