#define RED_IS_THE_TEAM_COLOR
    # A macro to define a common set of magenta color values which different
    # units can be color shifted by using the team color system.
    flag_rgb=cs_red
#enddef

[+color_palette]

    # redmagenta :-)
    cs_red=ff3232,4b0000,640000,780000,7d0000,960000,a00000,a80000,af0000,c41414,c80000,e10000,e60000,f0acac,ff0000,ff1919,ff3232,ff4b4b,ff6464,ff6e6e,ff7d7d,ff9696,ffafaf,ffc8c8
[/color_palette]

{~add-ons/CombatShore/Era_Default} 
