       
#define MESSAGE_YOU MESSAGE
    [message]
        speaker=narrator
        caption= _ "You"
        message= _ "{MESSAGE}"
    [/message]
#enddef

#define MESSAGE_BOB MESSAGE
    [message]
        speaker=narrator
        caption= _ "Bob"
        message= _ "{MESSAGE}"
    [/message]
#enddef

#define MESSAGE_PAO MESSAGE
    [message]
        speaker=narrator
        message= _ "{MESSAGE}"
        caption= _ "PAO"
    [/message]
#enddef


#define MESSAGE_NARRATOR MESSAGE
    [message]
        speaker=narrator
        message= _ "{MESSAGE}"
    [/message]
#enddef

#define MESSAGE_EECOM MESSAGE
    [message]
        speaker=narrator
        caption= _ "EECOM"
       message= _ "{MESSAGE}"
    [/message]
#enddef

#define MESSAGE_RECON MESSAGE
    [message]
        speaker=narrator
        caption= _ "RECON"
       message= _ "{MESSAGE}"
    [/message]
#enddef

#define MESSAGE_NETWORK MESSAGE
    [message]
        speaker=narrator
        caption= _ "NETWORK"
       message= _ "{MESSAGE}"
    [/message]
#enddef

#define MESSAGE_BOOSTER MESSAGE
    [message]
        speaker=narrator
        caption= _ "BOOSTER"
       message= _ "{MESSAGE}"
    [/message]

#enddef

#define MESSAGE_GUIDANCE MESSAGE
    [message]
        speaker=narrator
        caption= _ "GUIDANCE"
       message= _ "{MESSAGE}"
    [/message]
#enddef

#define MESSAGE_SURGEON MESSAGE
    [message]
        speaker=narrator
        caption= _ "SURGEON"
       message= _ "{MESSAGE}"
    [/message]
#enddef

#define MESSAGE_DIRECTOR MESSAGE

#enddef
