#define HEIGHT_CHANGE_METHOD STARTHEIGHT ENDHEIGHT MOVECOST DIST CANATTACK
[set_menu_item] 

    # needs_select=yes
    [show_if]
        [have_unit]
            x=$x1
            y=$y1
            side=$side_number
            variation={STARTHEIGHT}
            has_variation={ENDHEIGHT}
        [/have_unit]
        [variable]
            name=unit.moves
            greater_than={MOVECOST}
        [/variable]
    [/show_if]
    
    [command]

        [message]
            speaker=narrator
            message= "Die unit had die id $unit.id und auch moves: $unit.moves"
        [/message]

        {STORE_UNIT_VAR x,y=$x1,$y1 moves moves_left}
        {STORE_UNIT_VAR x,y=$x1,$y1 max_moves moves_max}
        
        [set_variable]
            name=moves_left
            sub={MOVECOST}
        [/set_variable]
        [set_variable]
            name=move_ratio
            to_variable=moves_left
        [/set_variable]
        [set_variable]
            name=move_ratio
            divide=$moves_max
        [/set_variable]
        {CLEAR_VARIABLE moves_left}
        {CLEAR_VARIABLE moves_max}

        [message]
            x,y=$x1,$y1
            message="Die ratio ist $move_ratio"
        [/message]

        [object]
            silent=yes
            [filter]
                x=$x1
                y=$y1
            [/filter]

            [effect]
                apply_to=variation
                name={ENDHEIGHT}
            [/effect]
        [/object]

        [modify_unit]
            [filter]
                x=$x1
                y=$y1
            [/filter]
            moves="$($this_unit.max_moves  * $move_ratio)"
        [/modify_unit]

        {CLEAR_VARIABLE move_ratio}
    [/command]   

[/set_menu_item]
#enddef
