#define DIRECTION_STAND_SUBMERGED DIR DEGREE IMAGE SOUND OPAQUE
    direction={DIR}
    # [halo_frame]
    #     duration=200
    #     image={IMAGE}~CS(-255,-255,-255)~SCALE({SCALE})~O({OPAQUE}%)~ROTATE({DEGREE})
    #     x={X_OFF}
    #     y={Y_OFF}
    #     auto_hflip=no
    #     auto_vflip=no
    # [/halo_frame]
    [frame]
        duration=200
        image={IMAGE}~ROTATE({DEGREE})~O({OPAQUE}%)
        sound={SOUND}
        auto_hflip=no
        auto_vflip=no
    [/frame]
#enddef
#define ANIM_STAND_SUBMERGED IMAGE SOUND OPAQUE
    [standing_anim]
        start_time=0
   #     halo_start_time=0
   #     halo_layer=1
        layer=2
        [if]
            {DIRECTION_STAND_SUBMERGED n    0 {IMAGE} {SOUND} {OPAQUE}}
        [/if]
        [else]
            {DIRECTION_STAND_SUBMERGED s  180 {IMAGE} {SOUND} {OPAQUE}}
        [/else]
        [else]
            {DIRECTION_STAND_SUBMERGED ne  63 {IMAGE} {SOUND} {OPAQUE}}
        [/else]
        [else]
            {DIRECTION_STAND_SUBMERGED se 117 {IMAGE} {SOUND} {OPAQUE}}
        [/else]
        [else]
            {DIRECTION_STAND_SUBMERGED nw 297 {IMAGE} {SOUND} {OPAQUE}}
        [/else]
        [else]
            {DIRECTION_STAND_SUBMERGED sw 243 {IMAGE} {SOUND} {OPAQUE}}
        [/else]
    [/standing_anim]
#enddef

#define DIRECTION_STAND DIR DEGREE IMAGE SOUND X_OFF Y_OFF OPAQUE SCALE
    direction={DIR}
    [halo_frame]
        duration=200
        image={IMAGE}~CS(-255,-255,-255)~SCALE({SCALE})~O({OPAQUE}%)~ROTATE({DEGREE})
        x={X_OFF}
        y={Y_OFF}
        auto_hflip=no
        auto_vflip=no
    [/halo_frame]
    [frame]
        duration=200
        image={IMAGE}~ROTATE({DEGREE})
        sound={SOUND}
        auto_hflip=no
        auto_vflip=no
    [/frame]
#enddef
#define ANIM_STAND IMAGE SOUND X_OFF Y_OFF OPAQUE SCALE
    [standing_anim]
        start_time=0
        halo_start_time=0
        halo_layer=1
        layer=2
        [if]
            {DIRECTION_STAND n    0 {IMAGE} {SOUND} {X_OFF} {Y_OFF} {OPAQUE} {SCALE}}
        [/if]
        [else]
            {DIRECTION_STAND s  180 {IMAGE} {SOUND} {X_OFF} {Y_OFF} {OPAQUE} {SCALE}}
            #{DIRECTION_STAND s  0 {IMAGE} {SOUND} {X_OFF} {Y_OFF} {OPAQUE} {SCALE}}
        [/else]
        [else]
            {DIRECTION_STAND ne  63 {IMAGE} {SOUND} {X_OFF} {Y_OFF} {OPAQUE} {SCALE}}
        [/else]
        [else]
            {DIRECTION_STAND se 117 {IMAGE} {SOUND} {X_OFF} {Y_OFF} {OPAQUE} {SCALE}}
        [/else]
        [else]
            {DIRECTION_STAND nw 297 {IMAGE} {SOUND} {X_OFF} {Y_OFF} {OPAQUE} {SCALE}}
        [/else]
        [else]
            {DIRECTION_STAND sw 243 {IMAGE} {SOUND} {X_OFF} {Y_OFF} {OPAQUE} {SCALE}}
        [/else]
    [/standing_anim]
#enddef

#define DIRECTION_MOVE DIR DEGREE IMAGE SOUND X_OFF Y_OFF OPAQUE SCALE
    {DIRECTION_STAND {DIR} {DEGREE} {IMAGE} {SOUND} {X_OFF} {Y_OFF} {OPAQUE} {SCALE}}
    [+halo_frame]
        offset=0.0~1.0 
    [/halo_frame]
    [+frame]
        offset=0.0~1.0 
    [/frame]
#enddef
#define ANIM_MOVE IMAGE SOUND X_OFF Y_OFF OPAQUE SCALE
    [movement_anim]
        start_time=0
        halo_start_time=0
        layer=2
        halo_layer=1
        [if]
            {DIRECTION_MOVE n    0 {IMAGE} {SOUND} {X_OFF} {Y_OFF} {OPAQUE} {SCALE}}
        [/if]
        [else]
            {DIRECTION_MOVE s  180 {IMAGE} {SOUND} {X_OFF} {Y_OFF} {OPAQUE} {SCALE}}
        [/else]
        [else]
            {DIRECTION_MOVE ne  63 {IMAGE} {SOUND} {X_OFF} {Y_OFF} {OPAQUE} {SCALE}}
        [/else]
        [else]
            {DIRECTION_MOVE se 117 {IMAGE} {SOUND} {X_OFF} {Y_OFF} {OPAQUE} {SCALE}}
        [/else]
        [else]
            {DIRECTION_MOVE nw 297 {IMAGE} {SOUND} {X_OFF} {Y_OFF} {OPAQUE} {SCALE}}
        [/else]
        [else]
            {DIRECTION_MOVE sw 243 {IMAGE} {SOUND} {X_OFF} {Y_OFF} {OPAQUE} {SCALE}}
        [/else]
    [/movement_anim]       
#enddef

#define DEEP_SUBMERGED_ANIM IMAGE
    image={IMAGE}
    {ANIM_STAND_SUBMERGED {IMAGE} "" 30}
    #    {DEFENSE_ANIM_RANGE {IMAGE} {IMAGE} "" ""}
    {ANIM_MOVE  {IMAGE} "" 3 3 65 48,48}
#enddef

#define SUBMERGED_ANIM IMAGE
    image={IMAGE}
    {ANIM_STAND_SUBMERGED {IMAGE} "" 50}
    #    {DEFENSE_ANIM_RANGE {IMAGE} {IMAGE} "" ""}
    {ANIM_MOVE  {IMAGE} "" 3 3 65 48,48}
#enddef

#define FLOATING_ANIM IMAGE
    image={IMAGE}
    {ANIM_STAND {IMAGE} "" 3 3 65 48,48}
    {ANIM_MOVE  {IMAGE} "" 3 3 65 48,48}
#    {DEFENSE_ANIM_RANGE {IMAGE} {IMAGE} "" ""}
#enddef

#define GROUND_LEVEL_ANIM IMAGE
    image={IMAGE}
    {ANIM_STAND {IMAGE} "" 3 3 65 48,48}
    {ANIM_MOVE  {IMAGE} "" 3 3 65 48,48}
#    {DEFENSE_ANIM_RANGE {IMAGE} {IMAGE} "" ""}
#enddef

#define LOW_LEVEL_ANIM IMAGE
    image={IMAGE}
    {ANIM_STAND {IMAGE} ""             5 5 55 55,55}
    {ANIM_MOVE  {IMAGE} tankmove_s.ogg 5 5 55 55,55}    
#    {DEFENSE_ANIM_RANGE {IMAGE} {IMAGE} "" ""}
#enddef

#define MEDIUM_LEVEL_ANIM IMAGE
    image={IMAGE}
    {ANIM_STAND {IMAGE} ""             10 10 45 60,60}
    {ANIM_MOVE  {IMAGE} tankmove_s.ogg 10 10 45 60,60}    
#    {DEFENSE_ANIM_RANGE {IMAGE} {IMAGE} "" ""}
#enddef

#define HIGH_LEVEL_ANIM IMAGE
    image={IMAGE}
    {ANIM_STAND {IMAGE} ""             15 15 35 65,65}
    {ANIM_MOVE  {IMAGE} tankmove_s.ogg 15 15 35 65,65}    
#    {DEFENSE_ANIM_RANGE {IMAGE} {IMAGE} "" ""}
#enddef

#define ORBIT_LEVEL_ANIM IMAGE
    image={IMAGE}
    {ANIM_STAND {IMAGE} ""             20 20 25 70,70}
    {ANIM_MOVE  {IMAGE} tankmove_s.ogg 20 20 25 70,70}    
#    {DEFENSE_ANIM_RANGE {IMAGE} {IMAGE} "" ""}
#enddef

#define ORBIT_ANIM IMAGE
    {ORBIT_LEVEL_ANIM {IMAGE} }
    #{DEF#ENSE_AN#IM_RA#NGE IM#AGE IM#AGE "" ""#}
#enddef

#define BUILDING_ANIM IMAGE
    image={IMAGE}
    [standing_anim]
        [frame]
            #duration=200
            image={IMAGE} # ~ ROTATE({DEGREE})
            # sound={SOUND}
            auto_hflip=no
            auto_vflip=no
        [/frame]
    [/standing_anim]
#enddef


#un def DIRECTION_STAND
#un def DIRECTION_MOVE
#un def ANIM_STAND
#un def ANIM_MOVE
