[scenario]

    id=mission02
    next_scenario=mission03

    #map_data="{campaigns/New_Earth/maps/miss02.map}"

    [story]
        [part]
            story= _ "The System consists of  "
        [/part]
    [/story]

    [event]
        name=prestart

        {MESSAGE_RECON "Flight, we have isolated a suitable drop zone. Before can only drop para"}
        {MESSAGE_NARRATOR "Sowas"}
    [/event]

    [event]
        name=moveto

        [filter_location]
            area=dropzone1
        [/filter_location]


        

    [/event]


    [event]

        name=start

        {MESSAGE_NARRATOR "New unit discovered!"}

        [open_help]
            topic=unit|207 # Parademon
        [/open_help]


        {MESSAGE_SURGEON "Troopers have self healing capabilities, they repair some of their damage per round."}

        
 

        {MESSAGE_EECOM "Those Parateck tanks rely on fuel in order to move. Note that we do not have a grounded source or tanker yet. After the units run out of fuel they can't be moved any more"} 





#        [message]
#            speaker=
#            message=
#        [/message]
    [/event]

    [side]
        side=1
        id=player
        shroud=no
        fog=no
    [/side]

    [side]
        side=2
        id=evilcorp
#        name=
#        type=
        team_name=evilcorp
        user_team_name= _ "EvilCorp"
        no_leader=yes
        hidden=yes
    [/side]

[/scenario] 
