#textdomain combat_shore-new_earth
[textdomain]
    name="combat_shore-new_earth"
[/textdomain]

# wmlscope: set export=no
[campaign]
    id=New_Earth
    rank=5
   # icon="data/campaigns/Heir_To_The_Throne/images/units/konrad-lord-leading.png"
    name= _ "New Earth"
    abbrev= _ "NE"
    define=CAMPAIGN_NEW_EARTH
    first_scenario=01a_ambush
    #difficulties=EASY,NORMAL,HARD

    #difficulty_descriptions={MENU_IMG_TXT2 "units/mk4/infantry/mk4i_demon.png~RC(magenta>red)" _"Captain" _"(Beginner)"} +
    #";*" + {MENU_IMG_TXT2 "units/mk4/infantry/mk4i_troll.png~RC(magenta>red)" _"Hero" _"(Normal)"} +
    #";" + {MENU_IMG_TXT2 "units/mk4/infantry/mk4i_golem.png~RC(magenta>red)" _"Commander" _"(Challenging)"}
    description= _ "Fight against EvilCorp for the resources of a distant world.

" + _"(Novice level, 2 scenarios.)"
    #image="data/campaigns/Heir_To_The_Throne/images/campaign_image.png"

    [about]
        title = _ "Campaign Design"
        [entry]
            name = "Fabian Müller (Fendrin/Fabi)"
        [/entry]
    [/about]
[/campaign]

#ifdef CAMPAIGN_NEW_EARTH
[binary_path]
    path=data/campaigns/New_Earth
[/binary_path]

[binary_path]
    path=data/add-ons/CombatShore_Era_Default
[/binary_path]

#[+units]
#    {campaigns/Heir_To_The_Throne/units}
#[/units]

{~add-ons/CombatShore_Era_Default/macros/}
{~add-ons/CombatShore_Era_Default/units/}
{~add-ons/CombatShore_Campaign_Default/utils}
{~add-ons/CombatShore_Campaign_Default/scenarios}


#endif
