[unit_type]

    name= _ "Buccaneer"    
    id=1288
    [base_unit]
        id=419        
    [/base_unit]
    hide_help=no
    do_not_list=no

    image=units/vehicles/mk4/supply_ship/mk4s_buccaneer.png

    description= _ "Minelayer-Icebreaker"

    # picture = mk4s_buccaneer.png
    # wreckageobject = 14288

    # Features += icebreaker mine_layer mineview

    {ICEBREAKER_TERRAIN} # TerrainAccess ->* VehicleType.icebreaker_terrain 

    # Weapons
    # Initiative = 0
    # Number = 3
    #TODO
    # Weapon0 ->* VehicleType.MineSea 
    # Weapon0.Ammo = 25
    # Weapon0.Punch@MaxRange = 140
    # Weapon0.Punch@MinRange = 140
    {SHIP_MG} # Weapon1 ->* VehicleType.Ship_MG
    {FLAK}    # Weapon2 ->* VehicleType.Flak

[/unit_type]

# Infotext = [Stark motorisiertes Unterstuetzungfahrzeug. Es raeumt fuer andere Flotteneinheiten Gewaesser von Minen 
# und legt selbst Minenfelder. Aufgrund seines stark verstaerkten Rumpfes kann er in vereisten Gewaessern auch als 
# Eisbrecher eingesetzt werden. ]
