#textdomain CombatShore-Core
[textdomain]
    name="CombatShore-Core"
    path="data/add-ons/CombatShore_Core/translations"
[/textdomain]

# if #def MULTIPLAYER

[binary_path]
    path=data/add-ons/CombatShore_Core
[/binary_path]

{./terrain.cfg}

#{~add-ons/CombatShore_Era_Default/macros/}
#{~add-ons/CombatShore_Era_Default/units/}

#[era]
#    id=era_CombatShore_default
#    name= _ "CombatShore Default"
#    {~add-ons/CombatShore_Era_Default/factions/cromos.cfg}
#[/era]

# en# dif
