#textdomain CombatShore-Era_Default
[textdomain]
    name="CombatShore-Era_Default"
    path="data/add-ons/CombatShore_Era_Default/translations"
[/textdomain]

[+game_config]
    hp_bar_scaling=0.04
    xp_bar_scaling=0.02
[/game_config]

[color_palette]

    #cs_red=320000,482800,4b0000,640000,780000,7d0000,960000,a00000,a80000,af0000,c41414,c80000,dc0000, e10000,e60000,f00000,f0acac,ff0000,ff0a0a,ff1919,ff2828,ff3232,ff4646,ff4b4b,ff5050,ff6464,ff6e6e,ff7878,ff7d7d,ff9696,ffafaf,ffb0b0,ffbebe,ffc8c8    
    cs_red=ff0000,320000,482800,4b0000,640000,780000,7d0000,960000,a00000,a80000,af0000,b40000,c41414,c80000,dc0000, e10000,e60000,f00000,f0acac,ff0000,ff0a0a,ff1919,ff2828,ff3232,ff4646,ff4b4b,ff5050,ff6464,ff6e6e,ff7878,ff7d7d,ff9696,ffafaf,ffb0b0,ffbebe,ffc8c8     

[/color_palette]

#ifdef MULTIPLAYER

[binary_path]
    path=data/add-ons/CombatShore_Era_Default
[/binary_path]

{~add-ons/CombatShore_Era_Default/macros/}
{~add-ons/CombatShore_Era_Default/units/}

[era]
    id=era_CombatShore_default
    name= _ "CombatShore Default"
    {~add-ons/CombatShore_Era_Default/factions/cromos.cfg}
[/era]

#endif
