[unit_type]
    
    name= _ "Amazon"
    id=1283
    [base_unit]
        id=369
    [/base_unit]
    hide_help=no
    do_not_list=no


    description= _ "Transport Ship"

    # Produktionskosten
    # Energie: 	16300
    # Material: 15350
    # Fuel: 	0

    image=units/mk4/supply_ship/mk4s_amazon.png
    [variation]
        {FLOATING_ANIM units/mk4/supply_ship/mk4s_amazon.png}
    [/variation]
    # wreckageobject = 14283

[/unit_type]

# Infotext = [Das große Versorgungsschiff Amazon hat riesige Vorräte an Fuel, Material und Munition an Bord. Dadurch werden die Standzeiten der Kriegsschiffe auf See vergrößert. So können die Kriegsschiffe ihre militärischen Aufträge erfüllen und müssen diese nicht unterbrechen, um einen Hafen zur Ergänzung anzulaufen. Sie sind somit auch unabhängig von Stützpunkten der eigenen oder verbündeter Nationen. Gegenüber dem Spezialversorger Bigger verfügt der Amazon über die fast doppelte Ladefähigkeit an Fuel bzw. Material und ist auch in seiner Herstellung um einiges preiswerter. Der Amazon verfügt über eine enorme Zuladungmenge von Einheiten, die darüber hinaus im Vergleich zum Bigger auch über das doppelten maximalen Einheitengewicht aufweisen dürfen. So können auch schwerste Einheiten problemlos, schnell und kostengünstig verlegt werden. Allerdings verfügt der Amazon über keinerlei Waffen, wenig Panzerung und kann auch nicht als Eisbrecher eingesetzt werden. Über die externe Aufmunitionierungfunktion kann die Versorgung anderer Schiffe auf See schnell durchgeführt werden. Der Amanzon hat einen kleineren Munitionsvorrat an Kanonen- und MG-Munition, ausgleichend wird aber die doppelte Anzahl von Balistischen Raketen transportiert. Aufgrund dieses enormen Materialwertes, ist ein Verlust eines Transportschiffes in vielen Fällen kriegsentscheidend ! Ein solch riesiges Versorgungsschiff stellt das Herz einer jeder Flotte da. Ein ganz besonderer Schutz muss deshalb jederzeit gewährleistet sein.]
