[unit_type]

    name= _ "Taros"
    id=1269
    [base_unit]
        id=419
    [/base_unit]
    hide_help=no
    do_not_list=no

    description= _ "Construction Ship"

    image=units/mk4/supply_ship/mk4s_taros.png
    #    picture = mk4s_taros.png
    #    wreckageobject = 14269

    [variation]
        {FLOATING_ANIM units/mk4/supply_ship/mk4s_taros.png}
    [/variation]

    {TRANS_TURRET_BIG_2} # Transportation ->* VehicleType.TransTurretBig2

    [abilities] # Features = construct_specific_buildings construct_vehicles self_repairing ExternalMaterialTransfer ExternalFuelTransfer ExternalRepair
        {FEATURE_SELF_REPAIR 10} # SelfRepairRate = 10
    [/abilities]

    # Tank
    # Material = 60000
    fuel_tank=60000

    # Construction
    # Buildings = 13 14 50
    # Vehicles = 1221 1222 1219 1278
    # Objects = 1000 2 30 44 999 997 996 995
    # ObjectsRemovable = 996
    # ObjectGroupsRemovable = 2 4 6 7 9 12 14 15

    # Weapons
    # Number = 4

    # Weapon0 ->* VehicleType.ServiceTurret 

    {SHIP_MG} # Weapon1 ->* VehicleType.Ship_MG 

    {AMMO_CANNON} # Weapon2 ->* VehicleType.AmmoCannon 
    [+attack]
        ammo=70        
    [/attack]

    {AMMO_LM} # Weapon3 ->* VehicleType.AmmoLM 
    [+attack]
        ammo=70        
    [/attack]

[/unit_type]

# Infotext = [ Der Taros ist die schwimmende Variante des Gigant-Baufahrzeugs. Auf Basis des Rex wurden Installationsanlagen integriert, die in kuerzester Zeit Straﬂen- und Eisenbahnbruecken sowie stationaere verteidigungsanlagen herstellen koennen.] 
