[unit_type]

    name= _ "Hangar"
    id=30
    [base_unit]
        id=499
    [/base_unit]
    hide_help=no
    do_not_list=no

    #    Infotext = [Lager- und Wartungshalle für Flugzeuge incl. Munitionsproduktion, Reparatur und Wiederverwertung.]

    hitpoints=2000
    image=units/buildings/asc/bld_asc_hangar.png

    #    ConstructionStages = 1
    #    Weather = dry 
    #    Fields = A1 
    #    UseGFXpics = false
    #    Pictures { 
    #       dry = bld_ASC_hangar.png
    #    } Pictures
    #    RubbleObjects = true
    #    rubble {
    #       A1 = 76
    #    } rubble

    #    Entry = A1
    #    Transportation { 
    #       MaxLoadableUnits = 10
    #       MaxLoadableUnitSize = 2000
    #       MaxLoadableMass = 20000
    #       CategoriesNOT = hoovercraft Medium_tracked_vehicle Heavy_tracked_vehicle light_wheeled_vehicle Medium_wheeled_vehicle Heavy_wheeled_vehicle Light_ship Medium_ship Heavy_Ship Rail_vehicle building|turret|object
    #    } Transportation

    #    Functions = Ammo_Production Repair_Facility Recycling ResourceSink
    #    ExternalLoading =  

    #    MaxResourceProduction { 
    #       Energy = 0
    #       Material = 0
    #       fuel = 0
    #    } MaxResourceProduction

    #    defaultProduction {
    #       energy = 0
    #       material = 0
    #       fuel = 0
    #    } defaultProduction

    #    ConstructionCost { 
    #       Energy = 0
    #       Material = 7000
    #       fuel = 7000
    #    } ConstructionCost
    #    Height = ground_level 
    cost=7000

    #    TerrainAccess { 
    #       terrain_any = runway  
    #       terrain_all = 
    #       terrain_not = railroad
    #       terrain_kill = lava river water deep_water
    #    } TerrainAccess

[/unit_type]
