#textdomain wesnoth-help
#{~aä dd-ons/CombatShore/Era_Default/macros/}



[+units]
    {~add-ons/CombatShore/Era_Default/units/unit.cfg}
    {~add-ons/CombatShore/Era_Default/units/building.cfg}
    {~add-ons/CombatShore/Era_Default/units/vehicle.cfg}
    #     {~add-ons/CombatShore/Era_Default/units}
    # subfolders for base parents
    {~add-ons/CombatShore/Era_Default/units/vehicles/parent/base}
    {~add-ons/CombatShore/Era_Default/units/vehicles/parent}
    # subfolders for categories
    {~add-ons/CombatShore/Era_Default/units/vehicles/parent/anti_aircraft}
    {~add-ons/CombatShore/Era_Default/units/vehicles/parent/artillery}
    {~add-ons/CombatShore/Era_Default/units/vehicles/parent/helicopter}
    {~add-ons/CombatShore/Era_Default/units/vehicles/parent/infantry}
    {~add-ons/CombatShore/Era_Default/units/vehicles/parent/jammer}
    {~add-ons/CombatShore/Era_Default/units/vehicles/parent/orbital}
    {~add-ons/CombatShore/Era_Default/units/vehicles/parent/plane}
    {~add-ons/CombatShore/Era_Default/units/vehicles/parent/rocket_artillery}
    {~add-ons/CombatShore/Era_Default/units/vehicles/parent/ship}
    {~add-ons/CombatShore/Era_Default/units/vehicles/parent/stationary}
    {~add-ons/CombatShore/Era_Default/units/vehicles/parent/tank}
    {~add-ons/CombatShore/Era_Default/units/vehicles/parent/vision}

    # mk4
    {~add-ons/CombatShore/Era_Default/units/vehicles/mk4/anti_aircraft}
    {~add-ons/CombatShore/Era_Default/units/vehicles/mk4/artillery}
    {~add-ons/CombatShore/Era_Default/units/vehicles/mk4/drone}
    {~add-ons/CombatShore/Era_Default/units/vehicles/mk4/helicopter}
    {~add-ons/CombatShore/Era_Default/units/vehicles/mk4/hovercraft}
    {~add-ons/CombatShore/Era_Default/units/vehicles/mk4/infantry}
    {~add-ons/CombatShore/Era_Default/units/vehicles/mk4/jammer}
    {~add-ons/CombatShore/Era_Default/units/vehicles/mk4/orbital}
    {~add-ons/CombatShore/Era_Default/units/vehicles/mk4/plane}
    {~add-ons/CombatShore/Era_Default/units/vehicles/mk4/rocket_artillery}
    {~add-ons/CombatShore/Era_Default/units/vehicles/mk4/ship}
    {~add-ons/CombatShore/Era_Default/units/vehicles/mk4/stationary}
    {~add-ons/CombatShore/Era_Default/units/vehicles/mk4/submarine}
    {~add-ons/CombatShore/Era_Default/units/vehicles/mk4/supply}
    {~add-ons/CombatShore/Era_Default/units/vehicles/mk4/supply_plane}
    {~add-ons/CombatShore/Era_Default/units/vehicles/mk4/supply_ship}
    {~add-ons/CombatShore/Era_Default/units/vehicles/mk4/supply_transport}
    {~add-ons/CombatShore/Era_Default/units/vehicles/mk4/tank}
    {~add-ons/CombatShore/Era_Default/units/vehicles/mk4/train}
    {~add-ons/CombatShore/Era_Default/units/vehicles/mk4/vision}

    # buildings
    {~add-ons/CombatShore/Era_Default/units/buildings/parent}
    {~add-ons/CombatShore/Era_Default/units/buildings/asc}

    #traits that are common to all races and units
    # {TRAIT_STRONG}
    # {TRAIT_QUICK}
    # {TRAIT_INTELLIGENT}
    # {TRAIT_RESILIENT}

    #       *   R A C I A L   T R A I T S   A N D   N A M E S   *
    [race]
        id=default
        male_name= _ "race^Default"
        female_name= _ "race+female^Default"
        plural_name= _ "race^Defaults"
        description= _ "Defaults"
        num_traits=0
        #undead_variation=bat
    [/race]

    [race]
        id=trooper
        male_name= _ "race^Trooper"
        female_name= _ "race+female^Trooper"
        plural_name= _ "race^Troops"
        description= _ "Troopers"
        num_traits=0
        #undead_variation=bat
    [/race]

    [race]
        id=building
        male_name= _ "race^Building"
        female_name= _ "race+female^Building"
        plural_name= _ "race^Buildings"
        description= _ "Buildings"
        num_traits=0
        #undead_variation=bat
    [/race]

    [race]
        id=turret
        male_name= _ "race^Turret"
        female_name= _ "race+female^Turret"
        plural_name= _ "race^Turrets"
        description= _ "Turrets"
        num_traits=0
        #undead_variation=bat
    [/race]

    [race]
        id=light_tracked_vehicle
        male_name= _ "race^Light Tracked Vehicle"
        female_name= _ "race+female^Light Tracked Vehicle"
        plural_name= _ "race^Light Tracked Vehicles"
        description= _ "Light Tracked Vehicles"
        num_traits=0
        #undead_variation=bat
    [/race]

    [race]
        id=medium_tracked_vehicle
        male_name= _ "race^Medium Tracked Vehicle"
        female_name= _ "race+female^Medium Tracked Vehicle"
        plural_name= _ "race^Medium Tracked Vehicles"
        description= _ "Medium Tracked Vehicles"
        num_traits=0
        #undead_variation=bat
    [/race]

    [race]
        id=light_wheeled_vehicle
        male_name= _ "race^Light Wheeled Vehicle"
        female_name= _ "race+female^Light Wheeled Vehicle"
        plural_name= _ "race^Light Wheeled Vehicles"
        description= _ "Light Wheeled Vehicles"
        num_traits=0
        #undead_variation=bat
    [/race]

    [race]
        id=medium_wheeled_vehicle
        male_name= _ "race^Medium Wheeled Vehicle"
        female_name= _ "race+female^Medium Wheeled Vehicle"
        plural_name= _ "race^Medium Wheeled Vehicles"
        description= _ "Medium Wheeled Vehicles"
        num_traits=0
        #undead_variation=bat
    [/race]

    [race]
        id=heavy_tracked_vehicle
        male_name= _ "race^Heavy Tracked Vehicle"
        female_name= _ "race+female^Heavy Tracked Vehicle"
        plural_name= _ "race^Heavy Tracked Vehicles"
        description= _ "Heavy Tracked Vehicles"
        num_traits=0
        #undead_variation=bat
    [/race]

    [race]
        id=heavy_wheeled_vehicle
        male_name= _ "race^Heavy Wheeled Vehicle"
        female_name= _ "race+female^Heavy Wheeled Vehicle"
        plural_name= _ "race^Heavy Wheeled Vehicles"
        description= _ "Heavy Wheeled Vehicles"
        num_traits=0
        #undead_variation=bat
    [/race]

    [race]
        id=rail_vehicle
        male_name= _ "race^Train Vehicle"
        female_name= _ "race+female^Train Vehicle"
        plural_name= _ "race^Train Vehicles"
        description= _ "Train Vehicles"
        num_traits=0
        #undead_variation=bat
    [/race]

    # [race]
    #     id=submarine
    #     male_name= _ "race^Submarine"
    #     female_name= _ "race+female^Submarine"
    #     plural_name= _ "race^Submarines"
    #     description= _ "Submarine"
    #     num_traits=0
    #     #undead_variation=bat
    # [/race]

    # [race]
    #     id=satellite
    #     male_name= _ "race^Satellite"
    #     female_name= _ "race+female^Satellite"
    #     plural_name= _ "race^Satellites"
    #     description= _ "Satellites"
    #     num_traits=0
    #     #undead_variation=bat
    # [/race]

    [race]
        id=light_aircraft
        male_name= _ "race^Light Aircraft"
        female_name= _ "race+female^Light Aircraft"
        plural_name= _ "race^Light Aircrafts"
        description= _ "Light Aircraft"
        num_traits=0
        #undead_variation=bat
    [/race]

    [race]
        id=medium_aircraft
        male_name= _ "race^Medium Aircraft"
        female_name= _ "race+female^Medium Aircraft"
        plural_name= _ "race^Medium Aircrafts"
        description= _ "Medium Aircraft"
        num_traits=0
        #undead_variation=bat
    [/race]

    [race]
        id=heavy_aircraft
        male_name= _ "race^Heavy Aircraft"
        female_name= _ "race+female^Heavy Aircraft"
        plural_name= _ "race^Heavy Aircrafts"
        description= _ "Heavy Aircraft"
        num_traits=0
        #undead_variation=bat
    [/race]

    [race]
        id=hoovercraft
        male_name= _ "race^Hoovercraft"
        female_name= _ "race+female^Hoovercraft"
        plural_name= _ "race^Hoovercraft"
        description= _ "Hoovercrafts are hoovering around."
        num_traits=0
        #undead_variation=bat
    [/race]

    [race]
        id=light_ship
        male_name= _ "race^Light Ship"
        female_name= _ "race+female^Light Ship"
        plural_name= _ "race^Light Ships"
        description= _ "Light Ships are light."
        num_traits=0
        #undead_variation=bat
    [/race]

    [race]
        id=medium_ship
        #id=satellite
        male_name= _ "race^Medium Ship"
        female_name= _ "race+female^Medium Ship"
        plural_name= _ "race^Medium Ships"
        description= _ "Medium Ships are medium."
        num_traits=0
        #undead_variation=bat
    [/race]

    [race]
        id=heavy_ship
        #id=satellite
        male_name= _ "race^Heavy Ship"
        female_name= _ "race+female^Heavy Ship"
        plural_name= _ "race^Heavy Ships"
        description= _ "Heavy Ships are heavy."
        num_traits=0
        #undead_variation=bat
    [/race]

    [race]
        id=helicopter
        plural_name= _ "Helicopter"
        description= _ " blah"
        num_traits=0
    [/race]

    [race]
        id=unit
        plural_name= _ "Units"
        description= _ " blah"
        num_traits=0
    [/race]

[/units]

    # [race]
    #     id=building
    #     plural_name= _ "Buildings"
    #     description= _ " blah"
    #     num_traits=0
    # [/race]

    # [race]
    #     id=turret
    #     plural_name= _ "Turrets"
    #     description= _ " blah"
    #     num_traits=0
    # [/race]

    # [race]
    #     id=trooper
    #     plural_name= _ "Troops"
    #     description= _ " blah"
    #     num_traits=0
    # [/race]

    # [race]
    #     id=light_tracked_vehicle
    #     plural_name= _ "Light Tracked Vehicle"
    #     description= _ " blah"
    #     num_traits=0
    # [/race]

    # [race]
    #     id=medium_tracked_vehicle
    #     plural_name= _ "Medium Tracked Vehicle"
    #     description= _ " blah"
    #     num_traits=0
    # [/race]

    # [race]
    #     id=heavy_tracked_vehicle
    #     plural_name= _ "Heavy Tracked Vehicle"
    #     description= _ " blah"
    #     num_traits=0
    # [/race]


    # [race]
    #     id=heavy_ship
    #     plural_name= _ "Heavy Ships"
    #     description= _ " blah"
    #     num_traits=0
    # [/race]


